.App {
  text-align: center;
}

.jumpy-bumpy {
  height: 192px;
  pointer-events: none;
}

@keyframes moveAcross {
  0% {
    left: -300px;
  }
  25% {
    left: calc(100% - 192px);
    transform: scaleX(-1);
  }
  50% {
    top: 0%;
    transform: scaleX(0);
    transform: scaleY(1);
  }

  75% {
    left: 0%;
    top: 50%;
    transform: scaleX(1);
    transform: scaleY(0);
  }

  100% {
    left: 40%;
    top: 140%;
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .jumpy-bumpy {
    width: 192px;
    height: 192px;
    position: absolute;
    top: calc(85%);
    left: 0;
    margin: auto 0;
    animation: moveAcross 15s linear infinite;
    z-index: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  display: block;
  color: #aaa;
}

.content {
  z-index: 2;
  border-radius: 300px;
  background-color: rbga(0,0,0,255);
  /*box-shadow: 0px 0px 300px #282c34;*/
}

